.flightCard-price {
  font-weight: bold;
}

.flightCard-heading {
  font-size: 1.25rem;
}

.flightCard-info {
  color: rgb(104, 100, 100)
}

/* #region CardForm */

.startScreen-container,.cardFormContainer {
  min-height: 23.5rem;
}

.selectDeparture-container .MuiOutlinedInput-notchedOutline,
.selectDate-container input {
  border: 1.75px solid #9098F5 !important;
  border-radius: 0.75rem !important;
}

label#airports-input-label:before {
  content: "A";
  margin-left: 0.5rem;
  margin-right: 1rem;
}

.MuiAutocomplete-root {
  max-width: 15rem;
}

.selectDate-container input {
  padding: 1rem;
  width: 13rem;
  display: flex;
  flex-direction: row-reverse;
}

.selectDate-container .MuiInputBase-root::after,
.selectDate-container .MuiInputBase-root::before {
  display: none;
}

.searchFlightsButton {
  position: absolute;
  bottom: -1.25rem;
  left: 46%;
}

/* #endregion CardForm */

.MuiSelect-listbox{
  background: white !important
}